name: 'teks:mkdocs'

on:
  push:
    branches:
    - main
    paths:
    - 'docs/**'
    - 'mkdocs.yml'
    - 'README.md'

jobs:
  terraform:
    name: 'teks:mkdocs'
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v2

    - name: deploy
      uses: mhausenblas/mkdocs-deploy-gh-pages@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        REQUIREMENTS: docs/requirements.txt
